body,html{
    width:100%;
    height:100%;
    overflow: hidden;
    background: black;
    cursor: url('img/cursor1.png'),auto;
}  
canvas{
    background-color: black;

    margin-left: 9%;
    margin-top:7%;
    
}
#pic{
    position:absolute;
    height: 300px;
    width: auto;
    margin-left:42%;
    margin-top:18.2%;
}

